.container--main {
  margin-top: 5%;
  margin-bottom: 5%;
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 2rem;
}

.section__title {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  color: rgba(0,0,0,.54);
  margin-top:6rem;
  margin-bottom:3rem;
}

.section__header {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom:1rem;
}

.section__subhead {
  font-size: 1.7rem;
  color: #333;
  color: rgba(0,0,0,.54);
}


/*Feature styles*/

.work-experience__item p,
.work-experience__item li,
.education__item p,
.education__item li,
.project__item p,
.project__item li {
  margin-bottom:0;
}

.work-experience__item ul {
  margin-top:1rem;
}

.education__item,
.project__item {
  margin-bottom:2.5rem;
}

.skill {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding:6px;
  background: #EEE;
  text-align: center;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1rem;
}



/*Typography utilities*/
.text-support {
  color: #333;
  color: rgba(0,0,0,.54);
}
.text-right {
  text-align: right;
}
