<div class="row">

  <header>
    <h1 class="title">Kiley Dorton</h1>
    <h2 class="subtitle">Product Designer and Front-end Web Developer</h2>
    <p class="text-support">
      Atlanta, Georgia<br/>
      <a target="_blank" href="https://twitter.com/@kiley0">Twitter</a> |
      <a target="_blank" href="https://linkedin.com/in/kileydorton">LinkedIn</a> |
      <a target="_blank" href="https://medium.com/@kiley0">Medium</a> |
      <a target="_blank" href="https://github.com/kiley0">GitHub</a>
    </p>
    <p class="section__subhead">
      5 years of experience designing and building websites and apps. Comfortable starting from scratch, sketching wireframes, designing mockups, building a prototype, conducting user research, and writing front-end code in HTML, CSS, JavaScript, and Angular.
    </p>
    <p class="section__subhead">
      Want to see my code? Just view the source of this page or <a target="_blank" href="https://github.com/kiley0/personal-site">check out the GitHub repository</a>.
    </p>
  </header>

  <h3 class="section__title">Work Experience</h3>
  <div class="work-experience__item"
    ng-repeat="item in resume.workHistory">
    <h4 class="section__header">{{item.employer}}</h4>
    <p class="section__subhead">
      {{item.position}} | {{item.startDate}} – {{item.endDate}}
    </p>
    <p>
      {{item.description}}
    </p>
    <ul>
      <li ng-repeat="bullet in item.bulletPoints">{{bullet}}</li>
    </ul>
  </div>

  <h3 class="section__title">Education</h3>
  <div class="education__item"
    ng-repeat="item in resume.educationHistory">
    <h4 class="section__header">{{item.school}}</h4>
    <p class="section__subhead">
      {{item.degree}} | Graduated {{item.date}}
    </p>
    <p>
      {{item.description}}
    </p>
  </div>

  <h3 class="section__title">Projects</h3>
  <div class="project__item"
    ng-repeat="item in resume.projects">
    <h4 class="section__header">{{item.name}}</h4>
    <p class="section__subhead">
      {{item.position}} | <span ng-show="item.startDate">{{item.startDate}} - </span>{{item.endDate}}
    </p>
    <p>
      {{item.description}}
    </p>
  </div>

  <h3 class="section__title">Skills</h3>
  <div>
    <span class="skill" ng-repeat="skill in resume.skills">{{skill}}</span>
  </div>

  <h3 class="section__title">Contact &amp; References</h3>
  <p>
    If you would like to get in touch, please reach out to me on <a target="_blank" href="https://twitter.com/@kiley0">Twitter</a> or <a target="_blank" href="https://linkedin.com/in/kileydorton">LinkedIn</a>.
  </p>


</div>
