<form name="signInForm">
  <div class="row">
    <div>
      <label for="email">Email</label>
      <input class="u-full-width" type="email" placeholder="steve@apple.com" id="email"
        ng-model="credentials.email">
    </div>
    <div>
      <label for="password">Password</label>
      <input class="u-full-width" type="password" placeholder="********" id="password"
        ng-model="credentials.password">
    </div>

  </div>
  <button class="button-primary"
    ng-click="signIn.authenticate(credentials)">
    Sign In
  </button>
</form>
